/* body{
    margin: 0;
    padding: 0;
} */

div{
    color: rebeccapurple;
}

/* > : 바로 아래 자식요소(손주적용 안됨) */
#ol1 > li {
    color: orange;
    font-size: 20px;
}

#ol0 > li{
    color: blue;
}
/* 띄어쓰기 : 자손모두 */
/* #ol1 li {
    color: orange;
    font-size: 20px;
} */

a:hover {
    color: olive;
    font-size: 20px;
}
 /* 태그 중에서 href 속성이 있는 것 */
/* [href]{
    color: red;
} */
/* 속성과 값이 모두 일치 하는 것 */
/* #s1은 [id=s1]의 줄임말 */
[id=s1]{
    color: red;
    background-color: olive;
    font-size: 40px;
    text-align: center;
}
/* 값 중에 단어로 존재(공백으로 분리)하는 것 찾아서 적용 */
/* 아래 코드는 .클래스명으로 줄일 수 있음 */
/* 실무에서 잘 안씀 */
[class ~= c1]{
    font-size: 40px;
    color: aqua;
}
/* 값으로 시작하는 모든 값 선택 */
[id ^=li_]{
    font-size: 40px;
}
/* 값으로 끝나는 모든 값 선택 */
[id $=li_]{
    font-size: 40px;
}
/* li 태그이면서 c1클래스를 가진것 */
li.c1{
    font-size: 40px;
}
li.c1{
    color: blue /*!important*/;
}
.bigText.c1{
    font-size: 40px;
}
/* input{type=passowrd}{

} */
 /* li && s1 인거 */
li#s1{
    font-size: 40px;
}
li:first-child{

}
/* 부정선택자 */
li:not(.c1){
    font-size: 40px;
}
a:not([href^=https]){
    color: orchid;
    font-style: italic;
}
/* 드래그 했을때 색깔 */
::selection{
    background-color: yellowgreen;
}
input[type=radio]:checked{
    width: 100px;
    height: 100px;
    color: cornflowerblue;
}
/* + : 바로 다음 형제요소 */
input[type=radio]:checked+span{
    color: violet;
}
/* span:hover{
    color: aqua;
    font-size: 100;
} */