.msg{
    height: 100%;
}
.img_block{
    display: inline-block;
    vertical-align: top;
}
img{
    width: 40%;
    height: 55%;
    display: inline-block;
    vertical-align: top;
    ;
}
a{
    width: 10%;
    border: 2px dotted pink;
    background-color: pink;
    color: white;
    display: inline-block;
    vertical-align: top;
    padding: 0.5%;
    text-align: center;
    margin-top: 0.5%;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;

}
a:hover{
    background-color: bisque;
}
ul{
    /* background-color: pink; */
    margin: 0;
    padding: 0;
}